<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banners</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
<div class="row">
    <div class="col-md-4 order-md-1 mb-1">
        <h4 class="d-flex justify-content-between align-items-upper mb-3">
            <span class="text-muted">Your banners</span>
        </h4>
        <style>
            .visible {
                display: block;
            }

            .invisible {
                display: none;
            }
        </style>
        <input id="input" class="input" type="text" placeholder="Search" aria-label="Search"><br>
        <ul  th:each="banner : ${banners}">
            <li class="item visible">
                    <!--<h6 th:text="${banner.name}"></h6>-->
                <a th:href="'/banner/' + ${banner.id}" class="btn btn-warning" th:text="${banner.name}"></a><br>
            </li>

        </ul>
        <script>
            const input = document.querySelector('.input');
            const li = [...document.querySelectorAll('.item')]

            input.addEventListener('input', (event) => {
                console.log(event.target.value)

                li.forEach(item => {
                    if (item.innerText.toLowerCase().indexOf(event.target.value.toLowerCase())  !== -1) {
                        item.classList.add('visible');
                        item.classList.remove('invisible')
                    } else {
                        item.classList.remove('visible');
                        item.classList.add('invisible')
                    }
                })
            })
        </script>
    </div>



    <div class="container order-md-2 mt-5 mb-5">
        <form action="/banner" method="post">
            <input type="text" name="name" placeholder="Enter the name" class="form-control" required><br>
            <input type="double" name="price" placeholder="Enter the price" class="form-control" required><br>
            <div class="form-group blu-margin">
                <select name="categoryID" class="form-control" required>
                    <option value="">Select category</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>
            <textarea name="text" placeholder="Enter the text" class="form-control" required></textarea><br>
            <div>
                <button type="submit" class="btn btn-secondary">Save</button>
            </div>
            <div class="form-group">
                <a th:text="${validationMessage}"/>
            </div>
        </form>

    </div>
</div>

    </body>
</html>