<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banners</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
<div class="row">
    <div class="col-md-4 order-md-1 mb-1">
        <h4 class="d-flex justify-content-between align-items-upper mb-3">
            <span class="text-muted">Your banners</span>
        </h4>
        <input id="input" class="input" type="text" placeholder="Search" aria-label="Search">
        <ul  th:each="banner : ${banners}">
            <li>
                <div>
                    <h6 th:text="${banner.name}"></h6>
                    <a th:href="'/banner/' + ${banner.id}" class="btn btn-warning">Details</a>
                </div>
            </li>
        </ul>
        <script>
            window.onload = () => {
                let input = document.querySelector('#input');
                input.oninput = function () {
                    let value = this.value.trim();
                    let list = document.querySelectorAll('.ul li');

                    if(value != "") {
                        list.forEach(elem => {
                            if(elem.innerText.search(value) == -1) {
                                elem.classList.add('hide');
                            }
                        });
                    } else {
                        list.forEach(elem => {
                            elem.classList.remove('hide');
                        });
                    }

                    console.log(this.value)
                };
            };
        </script>
    </div>



    <div class="container order-md-2 mt-5 mb-5">
        <form action="/banner" method="post">
            <input type="text" name="name" placeholder="Enter the name" class="form-control" required><br>
            <input type="double" name="price" placeholder="Enter the price" class="form-control" required><br>
            <div class="form-group blu-margin">
                <select name="categoryID" class="form-control" required>
                    <option value="">Select category</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>
            <textarea name="text" placeholder="Enter the text" class="form-control" required></textarea><br>
            <div>
                <button type="submit" class="btn btn-secondary">Save</button>
            </div>
        </form>

    </div>
</div>

    </body>
</html>